.promptbox{font-family:"Microsoft New Tai Lue","Calibri",sans-serif; font-size:16px; color:#000; position:fixed;}
.promptbox.measuring{visibility:hidden; top:0px; left:0px; opacity:0;}
.promptbox_default, .promptbox_nis{position:fixed; top:50%; left:50%;  transition:opacity 0.3s; z-index:100;}
.promptbox_default{ }
.promptbox_nis{color:#D8D8D8;}
.promptbox_popup{ position:static; }
.promptbox .promptboxbr{float:left; width:100%; height:1px; margin:0px 0px -1px;}
.promptbox .promptboxcheckbox{float:left; height:20px; margin:1px 5px 5px;}
.promptbox .promptboxbutton{float:left; height:20px; margin:1px 5px 5px;}
.promptbox .promptboxtext{float:left; height:20px; margin:1px 5px 5px;}
.promptbox .promptboxstory{float:left; margin:1px 5px 5px; white-space:normal;}
.promptbox .promptboxinput{float:left; height:20px; margin:1px 5px 5px;}
.promptbox .promptboxdropdown{float:left; height:20px; margin:1px 5px 5px;}
.promptbox .promptboxcolor{float:left; height:20px; margin:1px 5px 5px;}

.pb2{transition:opacity 0.3s; z-index:100;}
.pb2_default{position:fixed; font-family:"Microsoft New Tai Lue","Calibri",sans-serif; font-size:16px; color:#000; left:50%; top:50%;}
.pb2_default .contentboxinner{ box-sizing:border-box; padding-left:8px; padding-right:8px;}
.pb2_nis{position:fixed; font-family:sans-serif; font-size:14px; color:var(--nis-col-std,#D8D8D8); left:50%; top:50%;}
.pb2_fakepopup{position:fixed; font-family:sans-serif; font-size:14px; color:#000; left:50%; top:50%; background:#fff; border:1px solid #777; border-radius:3px; box-shadow:0px 0px 15px -1px;}
	.pb2_fakepopup-exit{position:absolute; top:3px; right:3px; position:absolute; width:16px; height:16px; cursor:pointer; background-image:url(/imgs/fakepopup_exit.png);}
	.pb2_fakepopup-exit:hover{background-position:0px -16px;}
	.pb2_fakepopup-title{font-size:18px; padding-left:5px; margin-bottom:-3px; border-bottom:1px solid #ccc; background:linear-gradient(to right,#e8e8e8,#e8e8e8,#ddd);}
.pb2_popup{font-family:sans-serif; font-size:13px; color:#000; padding:0px 2px; box-sizing:border-box; position:absolute;}
.pb2.measuring{visibility:hidden; opacity:0; top:0px; left:0px; overflow-y:auto; position:absolute;}
.pb2.measuring.debug{visibility:initial; opacity:initial; position:absolute; z-index:10000; background:#fff;}
	.pb2-string, .pb2-number, .pb2-int, .pb2-color, .pb2-button, .pb2-text, .pb2-button, .pb2-dropdown, .pb2-bool, .pb2-radio, .pb2-boxitem
		{margin:3px; height:1.4em;}
	.pb2-string, .pb2-number, .pb2-int, .pb2-color, .pb2-button, .pb2-dropdown
		{box-sizing:border-box; border:1px solid #AAA; padding-left:5px; background:linear-gradient(#FFF,#F8F8F8);}
	.pb2-string{}
	.pb2-text{height:auto;}
	.pb2-bool input[type=checkbox]{margin:0px 4px 0px 0px; vertical-align:middle;}
	.pb2-button{cursor:pointer; background:linear-gradient(#FFF,#DDD); padding:1px 6px; height:unset;}
	.pb2-button:hover{background:linear-gradient(#EEE,#CCC);}
	.pb2-button:active{background:linear-gradient(#BBB,#CCC);}
	.pb2-br{clear:both;}
	.pb2-flex-h{display:flex; flex-direction:row; width:100%;}
	.pb2-flex-v{display:flex; flex-direction:column;}
	.pb2-subregion{margin-left:5px; position:relative; border-left:1px solid #777; border-bottom-left-radius:6px; margin-bottom:4px; padding-left:2px;}
	.pb2-subregion.locked{opacity:0.5; -webkit-filter:blur(1px); filter:blur(1px);}
	.pb2-subregion.locked::before{content:""; position:absolute; top:0px; left:0px; right:0px; bottom:0px;}
	.pb2-header{font-size:1.5em; border-top:1px solid rgba(0,0,0,0.5); margin:0.6em 5px 0.3em;}
	.pb2-header:first-child{margin-top:0px;}
	.pb2-radio{display:block;}
	.pb2-radio input[type=radio]{margin:0px 4px 0px 0px; vertical-align:middle;}
	.pb2-slide{margin:3px;}
		.pb2-slide-title{}
		.pb2-slide-bar{position:relative; height:4px; margin:4px 4px 8px; background:#ccc; width:100px;}
			.pb2-slide-node{position:absolute; width:8px; height:8px; border-radius:5px; background:#eee; margin:-3px -5px; border:1px solid #585b7b;}

#balloonbox{background:rgba(255,255,255,0.97); color:#000; border:1px solid black; border-radius:15px; padding:10px; z-index:101; box-shadow:0px 0px 20px; font-family:"Microsoft New Tai Lue","Calibri",sans-serif; font-size:16px;}
#balloonbox .balloonboxbutton{text-align:center; float:right; width:80px; height:20px; background:#FFF; border:1px solid #000; border-radius:5px; cursor:pointer; margin-left:10px;}
#balloonbox .balloonboxbutton.balloonboxnext{background:#58F; color:#FFF; border-color:#58F; font-weight:bold;}

#selectoverlay{position:fixed; top:10%; left:30px; right:30px; bottom:10%; z-index:10000;max-height:80%; color:#000; font-size:13px;}
.selectoverlayinner{margin:0px auto; max-height:100%; background:linear-gradient(to bottom,#EEE,#DDD); box-shadow:0px 0px 10px #000; overflow-y:auto; border:1px solid #444; border-radius:10px;}
#selectoverlay .selectoverlayoption{font-family:sans-serif; border-bottom:1px solid #999; padding:1px 10%; cursor:pointer;}
#selectoverlay .selectoverlayoption.isselected{background:#BBB;}
#selectoverlay .selectoverlayoption:hover{background:#777;}

.sliminput{border:1px solid #AAA; margin:0px; padding-left:5px; background:linear-gradient(#FFF,#F8F8F8); font-size:14px;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.sliminput[type="button"]{cursor:pointer; background:linear-gradient(#FFF,#DDD); padding:0px;}
.sliminput[type="button"]:disabled{cursor:auto;}
.sliminput[type="button"]:not(:disabled):hover{background:linear-gradient(#EEE,#CCC);}
.sliminput[type="button"]:not(:disabled):active{background:linear-gradient(#BBB,#CCC);}

.forcediv{display:block;}
.forcehidden{z-index:-1; position:absolute; top:-100px; width:0px; height:0px; overflow:hidden;}/*needed for retarded ie security checks*/

.contentbox{border-bottom-left-radius:12px; border-bottom-right-radius:12px; margin:5px; overflow:hidden;}
.contentbox.nohead{border-top-left-radius:12px; border-top-right-radius:12px;}
.contentboxhead{height:40px; overflow:hidden; border-top-right-radius:15px; position:relative; white-space:nowrap;}
.contentbox.nohead>.contentboxhead{display:none;}
.contentboxinner{float:left; background:#CCC url('/imgs/altexmid.png'); width:100%; box-shadow:inset 0 0 5px #555; transition:height 1s; padding-top:3px; margin-top:-3px;}
.carbonleft{background:url('/imgs/titlesprite.png') 0px 0px; width:12px; height:40px; display:inline-block;}
.carbonmid{background:url('/imgs/titlesprite.png') 0px -60px; height:40px; display:inline-block; padding-left:20px; vertical-align:top;}
.carbontoal{background:url('/imgs/titlesprite.png') 0px -120px; width:50px; height:40px; display:inline-block; margin:0px -1px;}
.almid{background:url('/imgs/titlesprite.png') 0px -180px; height:40px; margin-right:-100%; width:100%; display:inline-block;}
.alright{background:url('/imgs/titlesprite.png') -15px 0px; width:35px; height:40px; position:absolute; right:0px; top:0px; white-space:nowrap; direction:rtl;}
.carbonmid>div{position:relative; text-shadow:0px 0px 5px #000; font-family:Times new roman; font-size:38px; color:#CCC; line-height:34px;}
.displaytogglebutton{background:url('/imgs/boxbuttons.png'); cursor:pointer; width:20px; height:20px; display:inline-block; margin-top:10px; background-position:-20px 0px;}
.contentbox[data-hide='1'] div .displaytogglebutton{background-position:0px 0px;}
.contentbox[data-hide='1'] .contentboxinner{height:0px;}
.closeboxbutton{background:url('/imgs/boxbuttons.png'); cursor:pointer; width:20px; height:20px; display:inline-block; margin-top:10px; margin-right:10px; background-position:-40px 0px;}

.zoomincursor{}
.zoomoutcursor{}


.slidebar{position:relative; height:4px; margin:6px; background:#CCC; width:100px; outline:1px solid #888;}
	.slidenode{position:absolute; width:8px; height:8px; border-radius:5px; background:#EEE; margin:-3px -5px; border:1px solid #585B7B;}

	
.graphpath{fill:none; stroke: #777; stroke-width:2px;}
.graphpoint{fill:black;}
.graphpoint.pointhovered{stroke-width:2px; stroke:#ccc;}
		
		
.graphvscaletitle{fill:rgba(0,0,0,0.5);}
.graphvscaleline{stroke:rgba(0,0,0,0.15);}
.graphhscaletitle{fill:rgba(0,0,0,0.5); text-anchor:middle;}
.graphhscaleline{stroke:rgba(0,0,0,0.5);}
		
.graphhoverregion{fill:transparent;}
.graphhoverregion:hover{fill:rgba(255,255,255,0.02);}
		
.graphtitle{fill:black; text-anchor:middle; font-size:20px;}

.insg{position:relative; font-family:sans-serif; font-size:12px;}
	.insg>input{box-sizing:border-box; height:100%; width:100%; font-family:inherit; font-size:inherit; padding:1px 3px;}
	.insg-opts{position:absolute; top:100%; left:0px; border-width:0px 1px 1px 1px; border-color:#ccc; border-style:solid; box-sizing:border-box; min-width:80px; white-space:nowrap; background:linear-gradient(#fff,#eee); border-radius:0px 0px 5px 5px; z-index:100000;}
		.insg-opt{width:100%; padding:1px 5px; box-sizing:border-box; cursor:default; color:black;}
		.insg-opt:hover{background:#C7D0FB;}
		.insg-opt.selected{background:#aaa;}
			.insg-opt-n{float:right; margin-left:8px;}